*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: rgb(46, 46, 46);
    /* --border-global-show: solid; */
    --border-global-show: none;
}

body {
    height: 100vh;
    background-color: var(--body-bg-color);
    /* cart居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-box {
    width: 720px;
    height: 500px;
    border: var(--border-global-show);
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.cart-left {
    border: var(--border-global-show);
    flex: 1;
    background: url("/images/animations/Anime-03.jpg") center / cover;
}

.cart-right {
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 3%;
}


.logo {
    height: 100px;
}

.input-box {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
input {
    text-indent: 25px;
    width: 100%;
    height: 100%;
    /* border: 0; */
    display: block;
}

.username::after {
    border: var(--border-global-show);
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 2px;
    transform: translateY(-60%);
    width: 20px;
    height: 20px;
    background: url("/images/icons/people.png") center / cover;
}

.password::after,
.confirm-password::after,
.new-password::after {
    border: var(--border-global-show);
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 2px;
    transform: translateY(-60%);
    width: 20px;
    height: 20px;
    background: url("/images/icons/unlock.png") center / cover;
}


.submit {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-color: #5766eb;
    color: aliceblue;
}

.go {
    border: var(--border-global-show);
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 50px;
}

.go a {
    text-decoration: none;
    color: #2f07d0;
}


.hint {
    text-indent: 25px;
    border-radius: 8px;
    padding: 10px 15px;
    opacity: 0;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: #fff;
    color: rgb(47, 47, 47);
    transition: all 1s ease-in-out;
}
.hint::before {
    position: absolute;
    content: '';
    background: url("/images/icons/round_close_fill.png") center / cover;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);
}