/* 默认模式 */
:root {
    /* 导航栏 */
    --navbar-bg-color: #007bff;       /* 导航栏背景色 */
    --navbar-text-color: #ffffff;     /* 导航栏文本色 */
  
    /* 背景 */
    --primary-bg-color: #f8f8f8;      /* 主要背景色 */
    --secondary-bg-color: #f1f1f1;    /* 辅助背景色 */
    --secondary-bg-color: #f1f1f1;    /* 辅助背景色 */
  
    /* 文字 */
    --primary-text-color: #333333;    /* 主要文字色 */
    --secondary-text-color: #cccccc;  /* 次要文字色 */
    --link-color: #007bff;            /* 链接颜色 */
  
    /* 按钮 */
    --button-bg-color: #007bff;       /* 按钮背景色 */
    --button-text-color: #ffffff;     /* 按钮文本色 */
  
    /* 卡片 */
    --card-bg-color: #f8f8f8;         /* 卡片背景色 */
    --card-text-color: #333333;       /* 卡片文本色 */
  
    /* 边框 */
    --border-color: #444444;          /* 边框颜色 */
  
    /* 强调色 */
    --primary-emphasis-color: #007bff;      /* 主要强调色 */
    --secondary-emphasis-color: #ffcc66;    /* 次要强调色 */
  }
  

  .light-mode{
        /* 导航栏 */
        --navbar-bg-color: #f2f2f2;       /* 导航栏背景色 */
        --navbar-text-color: #ffffff;     /* 导航栏文本色 */
      
        /* 背景 */
        --primary-bg-color: #f8f8f8;      /* 主要背景色 */
        --secondary-bg-color: #f1f1f1;    /* 辅助背景色 */
      
        /* 文字 */
        --primary-text-color: #333333;    /* 主要文字色 */
        --secondary-text-color: #5c5c5c;  /* 次要文字色 */
        --link-color: #007bff;            /* 链接颜色 */
      
        /* 按钮 */
        --button-bg-color: #007bff;       /* 按钮背景色 */
        --button-text-color: #ffffff;     /* 按钮文本色 */
      
        /* 卡片 */
        --card-bg-color: #f8f8f8;         /* 卡片背景色 */
        --card-text-color: #333333;       /* 卡片文本色 */
      
        /* 边框 */
        --border-color: #444444;          /* 边框颜色 */
      
        /* 强调色 */
        --primary-emphasis-color: #007bff;      /* 主要强调色 */
        --secondary-emphasis-color: #ffcc66;    /* 次要强调色 */
  }

  /* 黑夜模式 */
  .dark-mode {
    /* 导航栏 */
    --navbar-bg-color: #222222f4;
    --navbar-text-color: #f8f8f8;
    
  
    /* 背景 */
    --primary-bg-color: #121212;
    --secondary-bg-color: #1a1a1aef;
    --order-1-bg-color: rgb(52, 52, 52);
  
    /* 文字 */
    --primary-text-color: #e4e4e4;
    --secondary-text-color: #a0a0a0;
    --link-color: #75aaff;
  
    /* 按钮 */
    --button-bg-color: #444444;
    --button-text-color: #ffffff;
  
    /* 卡片 */
    --card-bg-color: #1a1a1a;
    --card-text-color: #f8f8f8;
  
    /* 边框 */
    --border-color: #666666;
  
    /* 强调色 */
    --primary-emphasis-color: #61dafb;
    --secondary-emphasis-color: #ffc107;

  }


  .mode-common {
    /* 导航栏 */
    --navbar-box-height: 56px;
    --color-white:  #f8f8f8;
    /* 调试border */
    /* --debug-border : solid rgb(255, 255, 255); */
    --debug-border : none;
    --order-0-color : rgb(255, 255, 255);
    --order-1-color : rgb(230, 230, 230);
    --order-2-color : rgb(205, 205, 205);
    --order-3-color : rgb(180, 180, 180);
    --order-4-color : rgb(155, 155, 155);
    --order-5-color : rgb(130, 130, 130);
    --order-6-color : rgb(105, 105, 105);
    --order-7-color : rgb(80, 80, 80);
    --order-8-color : rgb(55, 55, 55);
    --order-9-color : rgb(30, 30, 30);
    --order-10-color : rgb(0, 0, 0);
  }


  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* ⭐字体 */
  }


  li {
    list-style: none;
  }
  a {

    text-decoration: none;
    color: var(--primary-text-color);
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    height: 2000px;
    /* width: 100%; */
    transition: all 0.5s ease;
  }


  #header {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .navbar {
    height: var(--navbar-box-height);
    background: var(--navbar-bg-color);
    line-height: var(--navbar-box-height);
    width: 100%;
    padding: 0 10%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid var(--order-4-color);
    /* box-shadow: 5px 5px 5px rgb(161, 161, 161) ; */
  }


  .nav-list {
    display: flex;
  }

  .nav-list li {
    margin: 0 10px;
  }



  .pic {
    background: no-repeat url("/images/animations/rows/Pz-0050.jpg") center / cover ;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
  }




/* footer */
  #footer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }



  .find-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    flex: 6;
    border: var(--debug-border);
  }
  .find-me > p {
    margin-top: 2rem;
    border: var(--debug-border);
  }
  .find-me > p:nth-child(1) {
    font-size: 1.5rem;
  }
  .find-me > p:nth-child(2) {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }
  .find-me > p:nth-child(n + 3) {
    color: var(--secondary-text-color);
  }
  .footer-record {
    color: var(--secondary-text-color);
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    border: var(--debug-border);
    border-top: 1px solid var(--secondary-text-color);
  }
  .footer-record > p:nth-child(2) {
    margin-top: 1.5rem;
  }


  .appearance {
    display: flex;
    position: relative;
    border-radius: 2rem;
    height: 60%;
    width: 4rem;
    /* border: solid; */
    border: solid var(--secondary-text-color);
    align-self: center;
    background-color: var(--order-1-bg-color);
    cursor: pointer;
    user-select: none;
  }


  .appearance-slip {
    position: absolute;
    text-align: center;
    width: 50%;
    height: 100%;
    line-height:2rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    /* background-color: #fff; */
    
    transition: all 0.5s ease;
    background-color: var(--primary-bg-color);
  }